<form class="col-xs-12 col-md-8" name="create-gallery-form" id="create-gallery-form" enctype="multipart/form-data" method="POST">
	<h2 style='margin-bottom: 30px; padding-top: 15px;'>Add plant</h2>
	<div class="form-group">
		<label for="plantname">Plant name</label>
		<input type="text" id="plantname" name="plantname" class="form-control" required value="{{input.plantname}}"/>
	</div>
{{!-- 	<div class="form-group">
		<label for="imageurl">Image</label>
		<input type="text" id="imageurl" name="imageurl" class="form-control" required value="{{input.imageurl}}"/>
	</div> --}}

	<div class="form-group">
		<label for="imageurl">Image</label>
		<input type="file" id="imageurl" name="imageurl" class="form-control"/>
	</div>

	<div class="form-group">
		<label for="desc">Description</label>
		<input type="text" id="desc" name="desc" class="form-control" required value="{{input.desc}}"/>
	</div>

	<div class="form-group">
		<label for="specs">Specification</label>
		<input type="text" id="specs" name="specs" class="form-control" required value="{{input.specs}}"/>
	</div>

	<div class="form-group">
		<label for="dateplanted">Date planted</label>
		<input type="text" id="dateplanted" name="dateplanted" class="form-control" required value="{{input.dateplanted}}"/>
	</div>

	<div class="form-submit">
		<input type="submit" class="btn btn-lg btn-block spacer" value="Add plant to garden" />
	</div>
	<span style="color:red">{{error}}</span>
</form>
