
	<h2>Create gallery<h2>

	<form class="col-xs-12 col-md-8" name="create-gallery-form" id="create-gallery-form" method="post">
		<div class="form-group">
			<label for="galleryName">Gallery name</label>
			<input type="text" id="galleryName" name="galleryName" class="form-control" required value="{{input.galleryName}}"/>
		</div>
		<div class="form-group">
			<label for="address">Address</label>
			<input type="text" id="address" name="address" class="form-control" required value="{{input.address}}"/>
		</div>

		<div class="form-group">
			<label for="city">City</label>
			<input type="text" id="city" name="city" class="form-control" required value="{{input.city}}"/>
		</div>

		<div class="form-group">
			<label for="state">State</label>
			<input type="text" id="state" name="state" class="form-control" required value="{{input.state}}"/>
		</div>

		<div class="form-group">
			<label for="zipcode">Zipcode</label>
			<input type="text" id="zipcode" name="zipcode" class="form-control" required value="{{input.zipcode}}"/>
		</div>

		<div class="form-group">
			<label for="vrid">VR id name</label>
			<input type="text" id="vrid" name="vrid" class="form-control" required value="{{input.vrid}}"/>
		</div>

		<div class="form-submit">
			<input type="submit" class="btn btn-lg btn-danger btn-block spacer" value="Create a gallery" />
		</div>
		<span style="color:red">{{error}}</span>
	</form>
